 .u-section-1 {
  background-image: url("images/apalancamientofinanciero-principal.jpg");
  background-position: 50% 0%;
  min-height: 793px;
}

.u-section-1 .u-group-1 {
  width: 556px;
  min-height: 703px;
  background-image: none;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px calc(((100% - 1140px) / 2)  + 117px) 55px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 0 16px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 11px 19px 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  --radius: 50px;
  margin: 37px auto 0;
  padding: 11px 21px 11px 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 940px) / 2) + 117px);
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-top: 56px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 35px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 894px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 991px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 793px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 793px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 465px;
  height: 465px;
  object-position: 50% 50%;
  background-image: url("images/rrr-min.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 164px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 793px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  margin: 44px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  --radius: 50px;
  font-size: 1.25rem;
  margin: 64px auto 0;
  padding: 10px 48px 10px 47px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2)  + 940px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 654px;
  }

  .u-section-2 .u-image-1 {
    width: 557px;
    height: 557px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 654px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 770px;
    margin-bottom: 17px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 383px;
    height: 383px;
    margin-top: 241px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 590px;
    margin-bottom: 0;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 619px;
  }

  .u-section-2 .u-image-1 {
    width: 557px;
    height: 557px;
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2)  + 340px);
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 391px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-image-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 869px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 793px;
}

.u-section-3 .u-image-1 {
  height: 731px;
  width: 1140px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px 0 0;
}

.u-section-3 .u-shape-1 {
  height: 384px;
  width: 549px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -551px auto 0 51px;
}

.u-section-3 .u-group-1 {
  min-height: 384px;
  width: 464px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -342px auto 60px 94px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 4px;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  --radius: 50px;
  margin: 7px auto 0;
  padding: 5px 22px 6px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-3 .u-image-1 {
    height: 603px;
    width: 940px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -423px;
    margin-left: 151px;
  }

  .u-section-3 .u-group-1 {
    margin-left: 190px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-3 .u-image-1 {
    height: 462px;
    width: 720px;
  }

  .u-section-3 .u-shape-1 {
    width: 494px;
    margin-top: -282px;
    margin-right: -35px;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    margin-left: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-3 .u-image-1 {
    height: 347px;
    width: 540px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -88px;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    margin: -372px 0 11px auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 27px 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-3 .u-image-1 {
    height: 218px;
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    margin-top: 31px;
    margin-left: -19px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -338px;
    margin-bottom: 50px;
    min-height: 422px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 2px;
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1036px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 2.25rem;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  margin: 51px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 38px;
  margin-bottom: 40px;
  grid-template-rows: repeat(1, auto);
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 18px));
  min-height: 828px;
  grid-auto-columns: calc(33.3333% - 18px);
  grid-gap: 27px;
}

.u-section-4 .u-list-item-1 {
  --radius: 50px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 50px;
  --top-right-radius: 50px;
  filter: brightness(0.9);
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 20px 0;
}

.u-section-4 .u-list-item-2 {
  --radius: 50px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 50px;
  --top-right-radius: 50px;
  filter: brightness(0.9);
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 20px 0;
}

.u-section-4 .u-list-item-3 {
  --radius: 50px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 50px;
  --top-right-radius: 50px;
  filter: brightness(0.9);
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 20px 0;
}

.u-section-4 .u-list-item-4 {
  --radius: 50px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-image-4 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 50px;
  --top-right-radius: 50px;
  filter: brightness(0.9);
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 20px 0;
}

.u-section-4 .u-list-item-5 {
  --radius: 50px;
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-image-5 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 50px;
  --top-right-radius: 50px;
  filter: brightness(0.9);
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 20px 0;
}

.u-section-4 .u-list-item-6 {
  --radius: 50px;
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-image-6 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 50px;
  --top-right-radius: 50px;
  filter: brightness(0.9);
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1063px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 18px));
    min-height: 680px;
    grid-auto-columns: calc(33.333333333333336% - 18px);
  }

  .u-section-4 .u-image-1 {
    height: 254px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    height: 254px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    height: 254px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-4 {
    height: 254px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-5 {
    height: 254px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-6 {
    height: 254px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1463px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 51px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    min-height: 1203px;
    grid-auto-columns: calc(50% - 13.5px);
  }

  .u-section-4 .u-image-1 {
    height: 292px;
  }

  .u-section-4 .u-image-2 {
    height: 292px;
  }

  .u-section-4 .u-image-3 {
    height: 292px;
  }

  .u-section-4 .u-image-4 {
    height: 292px;
  }

  .u-section-4 .u-image-5 {
    height: 292px;
  }

  .u-section-4 .u-image-6 {
    height: 292px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1093px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-4 .u-image-1 {
    height: 438px;
  }

  .u-section-4 .u-image-2 {
    height: 438px;
  }

  .u-section-4 .u-image-3 {
    height: 438px;
  }

  .u-section-4 .u-image-4 {
    height: 438px;
  }

  .u-section-4 .u-image-5 {
    height: 438px;
  }

  .u-section-4 .u-image-6 {
    height: 438px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2397px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    height: 276px;
  }

  .u-section-4 .u-image-2 {
    height: 276px;
  }

  .u-section-4 .u-image-3 {
    height: 276px;
  }

  .u-section-4 .u-image-4 {
    height: 276px;
  }

  .u-section-4 .u-image-5 {
    height: 276px;
  }

  .u-section-4 .u-image-6 {
    height: 276px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1019px;
}

.u-section-5 .u-image-1 {
  width: 757px;
  height: 466px;
  margin: 21px auto 0;
}

.u-section-5 .u-group-1 {
  width: 883px;
  min-height: 568px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -89px auto 53px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 2.25rem;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  margin: 25px 0 0;
}

.u-section-5 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  --radius: 50px;
  margin: 29px auto 0;
  padding: 15px 19px 15px 18px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-5 .u-image-1 {
    inset: auto;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1003px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 443px;
    margin-top: 0;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
    margin-top: -66px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 332px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
    margin-top: 45px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1329px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 209px;
    margin-top: 50px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    margin: 42px 0 50px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 133px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  margin: 22px auto 32px;
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 88px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }
}